.poppy_picture {
  background-image: url(../img/reachy.png);
}

#motor_shoulder_pitch {
  top: 0;
  left: 420px;
}

#motor_shoulder_roll {
  top: 0;
  left: 75px;
}

#motor_arm_yaw {
  top: 90px;
  left: 40px;
}

#motor_elbow_pitch {
  top: 225px;
  left: 300px;
}

#motor_forearm_yaw {
  top: 310px;
  left: 30px;
}

#motor_finger_grip {
  top: 370px;
  left: 300px;
}

#motor_wrist_pitch {
  top: 480px;
  left: 350px;
}

#motor_wrist_roll {
  top: 500px;
  left: 75px;
}
